*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


  .navbar > .container-fluid> .collapse > .navbar-nav > .nav-item > .color-me{
    color:black;
} 

.navbar > .container-fluid> .collapse > .navbar-nav > .nav-item > .color-my{
  color:whitesmoke;
}


.carousel-content {
  position: absolute;
  text-align: right;
  font-size: 40px;
  font-weight: 600;
  bottom: 60%;
  left: 50%;
  z-index: 20;
  color: white;
  text-shadow: 4px 4px 2px black;

}

input placeholder { 
      color:    #FFF;
  }

.clearfix{
  margin-left: 10px;
}



.carousel-inner > .carousel-item > img {
    margin-top: 8%;
    height: 50vh;
  } 

.container-fluid > .row > .mymargin{
  margin-top: 10%;
  padding-left: 40%;
}

.card > .card-body {
  background-color: rgb(33, 55, 155);
  color: white;
}

.has-bg-img > .bg-img {
  background-size: cover;
}

.fa-brands{
  font-size: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

ul{
  list-style-type: square;
}

/* @keyframes example {
  from {background-color: rgb(217, 209, 240)}
  to {background-color:  rgb(33, 55, 155);}
} 
body{animation-timing-function: ease-in-out;}
/* The element to apply the animation to */
/* body{
background-color: white;
animation-name: example;
animation-duration: 5s;
animation-iteration-count: infinite;
} */ 



